{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add New Recipe --- Cookbook {% endblock%}

{% block content %}
    <h1 class="mt-2"><i>Add new recipe</i></h1>
    <hr class="mt-0">
    <br>
    <div class="form-group">
        <form method="POST" action="/create/" class="form-group">
            {% csrf_token %}
            {{form | crispy}}
            <h6><i>* Required</i></h6>
            <button class="btn btn-secondary">Submit recipe</button>
        </form>
    </div>
{% endblock %}